@mixin absCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
MEDIA QUERY MANAGER - 
----------------------
0 to 600px – PHONES ONLY
600px to 900px – TABLET PORTRAIT
900px to 1200px – TABLET LANDSCAPE
1200px to 1800px – DESKTOP
1800px and more – BIG DESKTOP
-----------------------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone { // width < 600 
        @media only screen and (max-width: 37.5em) {
            @content
        }; // 600px
    }

    @if $breakpoint == tab-port { // width < 900
        @media only screen and (max-width: 56.25em) {
            @content
        }; // 900px
    }

    @if $breakpoint == tab-land { // width < 1200
        @media only screen and (max-width: 75em) {
            @content
        }; // 1200px
    }

    @if $breakpoint == big-desktop { // width > 1800
        @media only screen and (min-width: 112.5em) {
            @content
        }; // 1800px
    }
}